.friendList {
    margin-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.item {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.5rem;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.avatar {
    margin-right: 15px;
}
.name {
    font-size: 25px;
    font-weight: 500;
}
.online, .offline {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
}
.online {
    background-color: red;
}
.offline {
    background-color: green;
}